<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.time_select :time %>
</p>

<p>
  <% Date::DAYNAMES.each do |day| %>
    <%= f.check_box :days_of_week,
      { multiple: true, checked: task.days_of_week.include?(day.downcase) },
      day.downcase,
      nil
    %>
    <%= f.label :days_of_week, day %><br>
  <% end %>
</p>
