<!DOCTYPE html>
<html>
  <head>
    <title>Procrastidont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1 class="logo">Procrastidont</h1>
      <% end %>

      <nav class="navbar">
        <% if user_signed_in?%>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <%= link_to edit_user_registration_path do %>
            <img class="current-avatar" src="<%= gravatar_url(current_user) %>"/>
          <% end %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <% if notice %>
      <div class="flash-container notice">
        <p class="flash"><%= notice %></p>
      </div>
    <% end %>

    <% if alert %>
      <div class="flash-container alert">
        <p class="flash"><%= alert %></p>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
